# Ignore Python venv
venv/
.env

# REMOVE FAISS IGNORE (We WANT these files)
# faiss_index.bin
# faiss_index.fdx
# faiss_index.json

# User data history
user_data/

# Streamlit internal cache
.streamlit/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
